<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Spaza</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="css/main.css" />

</head>
<body>
	<div class="header">
	      <h1><span>Nelisa's</span><span>Spaza</span></h1>
	</div>
	<div class="main">
		<div class="container">
		<br>

	<div class="row">
		<div class="col-xs-12 ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title hidden ">Spaza Manager</h3>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class=""><a href="index" data-toggle="tab">TotalSales</a></li>
                            <li><a href=" categories" data-toggle="tab">Categories</a></li>
                            <li><a href="spazaData" data-toggle="tab">Data</a></li>
                            <li><a href="regularSales" data-toggle="tab">Reg. Sales</a></li>
                             <li><a href="mostSellingCategory" data-toggle="tab">Most Selling Cat.</a></li>
                        </ul>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                        	{{{body}}}
                        </div>
                        <div class="tab-pane" id="tab2">
                        	{{{body}}}
                        </div>
                        <div class="tab-pane" id="tab3">
                        	{{{body}}}
                        </div>
                        <div class="tab-pane" id="tab4">
                        	{{{body}}}
                        </div>
                        <div class="tab-pane" id="tab5">
                            {{{body}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

			
		</div><!-- /.container -->
	</div><!-- /.main -->
	
{{{login}}}
	
</body>
</html>