<h2>Spaza Data</h2>
<table class="table">
	   <thead>
        
          <th>Day</th>
          <th>Date</th>
          <th>Stock Item</th>
          <th>Number Sold</th>
          <th>SalesPrice</th>
          
      
      </thead>
      <tbody>
      	    {{#each spazaData}}
			<tr>
			    <td>{{Day}}</td>
			    <td>{{Date}}</td>
			    <td>{{"stock item"}}</td>
			    <td>{{ "No sold"}}</td>
			    <td>{{"Sales Price"}}</td>
			</tr>
		    {{/each}}
      </tbody>

</table>









